<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="2.2.0" targetFramework="net48" />
  <package id="Xceed.Document.NET" version="6.0.26322.8460" targetFramework="net48" />
  <package id="Xceed.Drawing.NET" version="1.0.26322.8460" targetFramework="net48" />
  <package id="Xceed.Pdf" version="6.0.26322.8460" targetFramework="net48" />
</packages>